{:deps
        {org.clojure/clojure            {:mvn/version "1.10.1"},
         clojure.java-time              {:mvn/version "0.3.1"},
         org.clojure/tools.logging      {:mvn/version "0.4.1"},
         ch.qos.logback/logback-classic {:mvn/version "1.2.3"},
         com.datomic/datomic-free       {:mvn/version "0.9.5697" :scope "dev" :exclusions [org.slf4j/slf4j-nop org.slf4j/jul-to-slf4j
                                                                                           org.slf4j/log4j-over-slf4j org.slf4j/jcl-over-slf4j]},
         clojure-csv                    {:mvn/version "2.0.2"}
         io.rkn/conformity              {:mvn/version "0.5.1"}
         datascript                     {:mvn/version "0.16.6"}}

 :paths ["src" "resources" "config"]}


